.container {
    position: relative;
}

#resultModal {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #000000c9;
    color: #fff;
    place-items: center;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.39,.58,.57,1);
    display: none;
}

  
@keyframes fadein {
    from {
        opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
  
    to {
      opacity: 0;
      display: none !important; 
    }
}